nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav.solidify {
  background-color: #4056A1;
}

nav span {
  font-family: 'Bungee';
}

.nav-right a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.9em;
  text-decoration: none;
  color: inherit;
}

.nav-right a:hover i {
  transform: translateY(0.3em);
}
.nav-right a:hover i.up {
  transform: rotate(180deg) translateY(0.1em);
}

.nav-right a i.up {
  transform: rotate(180deg) translateY(-0.3em);
}

.nav-right i {
  color: red;
}

@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  nav {
    font-size: 1.2em;
  }
  .nav-right {
    flex-direction: row;
    padding-top: 0;
  }
  .nav-right div {
    /* padding-right: 0.2em; */
    display: none;
  }
}