.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.new-tweet h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

form > div {
  display: flex;
  justify-content: space-between;
  border-top: #555149;
  font-family: 'Bungee';
  padding-top: 0.5em;
  border-top: 5px solid;
}

textarea {
  flex-grow: 3;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  outline: none;
}

.new-tweet > form .counter-red{
  color: red;
}

.counter {
  color: #555149;
}

.new-tweet button[type="submit"] {
  color: white;
  background-color: #4056A1;
}

.new-tweet > label.hidden {
  display: none;
}
.new-tweet > label {
  margin-top: 0.5em;
  text-align: center;
  color: red;
}
.new-tweet > label > p {
  display: inline;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    margin-top: 0;
  }
}