.new-tweet {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

form > div {
  display: flex;
  justify-content: space-between;
  border-top: #555149;
  font-family: 'Bungee';
  padding-top: 15px;
  border-top: 7px solid;
}

textarea {
  flex-grow: 3;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  outline: none;
}

.new-tweet > form .counter-red{
  color: red;
}

.counter {
  color: #555149;
}

.new-tweet button[type="submit"] {
  color: white;
  background-color: #4056A1;
}